body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

nav {
    background-color: #aac3cc;
    padding: 35px;
    display: flex;
    justify-content: center;
}

nav a {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 26px;
    font-weight: 700;
}

.info {
    background-color: #e9d6bb;
    height: 520px;
    display: flex;
}

.info_top {
    display: flex;
    align-items: flex-start;
}

.info_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_main a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.info_button {
    width: 150px;
    height: 150px;
}

img.info_button {
    animation: 10s linear 0s normal none infinite running rot;
    -webkit-animation: 10s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.info_img_logo {
    width: 150px;
    height: 75px;
    padding-right: 20px;
}

.info_img_icon {
    margin-top: 20px;
    padding-right: 5px;
    width: 30px;
    height: 30px;
}

.info_img_ulyana {
    width: 320px;
    height: 400px;
    margin-right: 250px;
    align-self: flex-end;
}

.music {
    background-color: #aac3cc;
}

.music_album {
    padding: 50px 200px 0px 250px;
    display: flex;
}

.music_sounds {
    padding-bottom: 70px;
}

.music_img_album_cover {
    width: 500px;
    height: 500px;
    margin-top: 23px;
}

.music_album_sounds {
    margin-top: 0px;
}

.album_music_1 p, .album_music_2 p, .album_music_3 p, .album_music_4 p, .album_music_5 p {
    margin-bottom: 10px;
}

.album_music_1 {
    display: block;
    padding: 0px 0px 0px 50px;
    width: 400px;
    height: 90px;
}

.album_music_2 {
    display: block;
    padding: 0px 0px 0px 50px;
    width: 400px;
    height: 90px;
}

.album_music_3 {
    display: block;
    padding: 0px 0px 0px 50px;
    width: 400px;
    height: 90px;
}

.album_music_4 {
    display: block;
    padding: 0px 0px 0px 50px;
    width: 400px;
    height: 90px;
}

.album_music_5 {
    display: block;
    padding: 0px 0px 0px 50px;
    width: 400px;
    height: 90px;
}

.music_1 {
    display: block;
    padding: 0px 0px 0px 250px;
    height: 90px;
}

.music_2 {
    display: block;
    padding: 0px 0px 0px 250px;
    height: 90px;
}

.music_3 {
    display: block;
    padding: 0px 0px 0px 250px;
    height: 90px;
}

.merch {
    background-color: #e9d6bb;
    height: 500px;
}

.contacts {
    background-color: #aac3cc;
    height: 300px;
}
